/* Don't change the existing CSS. */
#outer-box {
  border: 5px solid blueviolet;
}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.inner-box {
  background-color: red;
  padding: 6px;
}

.white-text {
  color: white;
}