/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

#outer-box {
  /* border: 7px solid rgb(0, 236, 0); */
  background-color: purple;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}
.inner-box {
  background-color: red;
}
