body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-weight: bold;
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Navigasi Bar */
.navbar {
  padding: 0 0 3.5rem;
}

.padding-cos {
  padding-left: 40%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  /* margin: 25.5rem;     */
}

.nav-item {
  padding: 0 18px;
  font-size: 1.5rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 23%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.features-box {
  padding: 4.5%;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-image {
  width: 18%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 5px 50px 50px 50px;
}

#pricing {
  padding: 100px
}

.pricing-colum {
  padding: 3% 2%;
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}

#cta{
  text-align: center;
  color: #fff;
  padding: 7% 15%;
  background-color: #ff4c68;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.icon-footer {
  margin: 20px 20px;
}
.icon-twiter {
  color: aqua;
}
.icon-facebok {
  color: blue;
}
.icon-instagram {
  color:  #ff4c68;
}
.icon-email {
  color:  cadetblue;
}